chartboost-adapter/target/
chartboost-adapter/.classpath
chartboost-adapter/.project
chartboost-adapter/.settings/

flurry-adapter/target/
flurry-adapter/.classpath
flurry-adapter/.project
flurry-adapter/.settings/

leadbolt-adapter/target/
leadbolt-adapter/.classpath
leadbolt-adapter/.project
leadbolt-adapter/.settings/

mobclix-adapter/target/
mobclix-adapter/.classpath
mobclix-adapter/.project
mobclix-adapter/.settings/

revmob-adapter/target/
revmob-adapter/.classpath
revmob-adapter/.project
revmob-adapter/.settings/

adcolony-adapter/target/
adcolony-adapter/.classpath
adcolony-adapter/.project
adcolony-adapter/.settings/

.project
.settings/
